# Dependencies
node_modules
package-lock.json
npm-shrinkwrap.json

# Logs
*.log
*.gz

# Coverage and Testing
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS and Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo

# Ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
