
/* Heading */
.checkoutPage h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Cart Summary
.cartSummary {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.cartSummary h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.productImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
} */

.productDetails h2 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #fff;
}































.checkoutPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #121212; /* Dark background */
  }
  
  .checkoutContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .cartSummary, .shippingForm {
    width: 48%;
  }
  
  .cartSummary{
    position: relative;
    display: block;
  }
  .cartSummary ul {
    list-style: none;
    padding: 0;

  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
  }
  
  .checkoutButton {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #333333 !important; /* Dark text */
    background-color: #ffffff !important; /* White background */
    border: 2px solid #333333 !important; /* Dark border */
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; /* Centers the button horizontally */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
  }
  
  .checkoutButton:hover {
    background-color: #333333 !important; /* Dark background on hover */
    color: #ffffff !important; /* White text on hover */
  }
  
  
  
