/* Footer container */
.footer {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);      
    padding: 50px 50px;  
    font-family: Arial, sans-serif; 
  }
  
  .footer-top,
  .footer-bottom {
    text-align: left; 
    margin-bottom: 20px; 
  }

  .footer-top h2{
    width: 70%;
    line-height: 5rem;
  }
  
  .footer-top h2,
  .footer-bottom h2 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 100;
}
  
  .footer-middle {
    margin-top: 4rem;
  }
  .social-icons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .social-icons svg {
    font-size: 17px;
  }
  .social-icons svg:last-child{
    margin-left: 15px;
  }
  .footer-middle ul {
    list-style: none;          
    display: flex;             
    justify-content: space-between; 
    padding: 0;               
    margin: 0;                  
    width: 100%;               
  }
  
  .footer-middle li {
    flex: 1;                   
    text-align: center;      
    padding: 10px;            
    box-sizing: border-box;  
  
  }


  
  .footer-middle li:first-child {
    text-align: left;    
  }
  
  .footer-middle li:last-child {
    text-align: right;   
  }

  
  
  
  .footer-middle label {
    font-weight: bold;  
    margin-right: 10px; 
    text-transform: uppercase;
}
  
  .footer-middle span {
    font-weight: normal; 
  }
  
  .footer-middle span:first-child {
    margin-right: 20px; 
  }
  
  .footer-middle li span {
    text-transform: capitalize;
  }
  
  
  .footer-bottom {
    padding-top: 20px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
  
    .footer-middle {
      display: flex;
      justify-content: space-evenly;
      text-align: left; 
    }
  
    .footer-middle li {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
    }
  
  }
  